body {
	padding: 0;
	margin: 0 0;
	background: #f0f0f0;
	font: 12px sans-serif;
	color: #000000;
}

p
{
    margin:0;
}

td{
	font: 12px sans-serif;
}

form{
	padding: 0;
	margin: 0;
}

#contentbody {
	margin-bottom: 2px;
}

#maintable {
	display: block;
	background: #ffffff;
	border-spacing: 0;
	width: 900px;
	margin: 2px auto;
	margin-bottom: 50px;
}

#maintablehead {
	padding: 15px 10px 13px 10px;
}

#status-table {
	width: 90%;
	padding: 5px;
	border-spacing: 0px;
}

#status-table tr{
	max-height: 14px;
}

#service-table {
	width: 90%;
	padding: 5px;
	border-spacing: 0;
}

#service-table td{
	width: 25%;
	padding: 5px;
	border-spacing: 0;
}

#header {
	background: #C0C0C0;
	border-bottom: 2px dotted #ddd;
}

#savecancel-table {
	width: 90%;
	padding: 5px;
	border-spacing: 0;
}

#savecancel-table .tdbuttons{
	width: 100%;
	padding: 5px;
	border-spacing: 0;
}

#htable {
	background: #C0C0C0;
	border-spacing: 0;
	width: 100%;
	height: 100%;
}

#htable text {
	width: 600px;
	background: #C0C0C0;
}

#htable .title {
	font: 25px sans-serif;
	color: #fff;
	font-weight: bold;
}

#htable .version {
	font: 25px sans-serif;
	color: #fff;
	font-weight: bold;
}

#htable .logo {
	width: 300px;
	text-align: right;
}

#content {
	padding: 5px 4px 20px 4px;
	vertical-align: top;
	width: 770px;
}

#logcontent {
	padding: 5px 4px 20px 4px;
	vertical-align: top;
	width: 770px;
	height: 400px;
}

#htable img {
	
	max-height: 130px;
}

#menu {
	width: 130px;
	font-size: 12px;
	border-right: 1px solid #f0f0f0;
	padding: 0px 0;
	vertical-align: top;
}

#menu a {
display: block;
}

#menu a.indent1 {
padding: 2px 0 2px 10px;
}

#media-table {
	width: 90%;
	padding: 5px;
	border-spacing: 0px;
}

input,
select {
font: 12px sans-serif;
}

input[type='button'] {
color: #000;
background: #f7f7f7;
border-top: 1px solid #ccc;
border-left: 1px solid #ccc;
border-bottom: 1px solid #ccc;
border-right: 1px solid #ccc;
width: 100%;
}
input[type='button'][disabled] {
color: #aaa;
}

input[type='button'][disabled]:hover {
background: #f7f7f7;
color: #aaa;
}

input[type='button']:hover {
background: #C0C0C0;
color: red;
}

input[type='text'] {
color: #000;
background: #f7f7f7;
border-top: 1px solid #ccc;
border-left: 1px solid #ccc;
border-bottom: 1px solid #ccc;
border-right: 1px solid #ccc;
width: 100%;
}