<html>
	<head>
		<title>TEST</title>
		<style type="text/css">
			body {
				margin: 30px;
				font-family: sans-serif;
				background: #fff;
			}
			h1 {
				background: #ccf;
				padding: 20px;
			}
			div.update {
				width: 100%;
				padding: 5px;
			}
			div.even {
				background: #ddd;
			}
			div.timestamp {
				float: left;
				font-weight: bold;
			}
			div.text {
				float: left;
				padding-left: 10px;
			}
			div.clear {
				clear: both;
				height: 1px;
			}
		</style>
		
		
		<script type="text/javascript" language="javascript" src="{{ MEDIA_URL }}js/jquery-1.6.2.js"></script>
		<script type="text/javascript" language="javascript">
			
			function update(){
				update_holder = $("#update-holder");
				$.getJSON("update", function(data){
					cycle_class = "even"
					jQuery.each(data, function() {
								//alert(this.fields.timestamp);
								update_holder.prepend('<div class="update "' + cycle_class
									+ '"><div class="timestamp">'
									+ this.fields.timestamp
									+ '</div><div class="text">'
									+ this.fields.body
									+ '</div><div class="clear"></div></div>');
				cycle_class = (cycle_class == "odd")? "even" : "odd";
							});
				});
			}
		</script>
	</head>
	<body>
		<h1>DLNA UPNP SERVER</h1>
		<p>Autorefreshing is enabled</p>
		{% if object_list %}
			<div id="update-holder">
				{% for object in object_list %}
				<div class="update {% cycle even, odd %}" id="{{ object.id }}">
					<div class="timestamp">
						{{ object.timestamp|date:"Y-m-d H:i:s" }}
					</div>
					<div class="text">
						{{ object.body|linebreaksbr }}
					</div>
					<div class="clear"></div>
				</div>
				{% endfor %}
			</div>
		{% else %}
			<p>No updates</p>
		{% endif %}
		<br />
		<a href="javascript:update()">CLICK</a>
	</body>
</html>
