{% load i18n %}
<html>
	<head>
		<title>{% trans "MEDIA ITEMS" %}</title>
		<style type="text/css">
			h1 {
				background: #C0C0C0;
				padding: 20px;
			}
			div.update {
				width: 100%;
			}
			div.even {
				background: #ddd;
			}
			div.timestamp {
				float: left;
				font-weight: bold;
			}
			div.text {
				float: left;
				padding-left: 10px;
			}
			div.clear {
				clear: both;
				height: 1px;
			}
		</style>
<!--
dodawanie mediow
sprawdzenie czy jest polaczenie z managing service
jeżeli tak to zrob te add nie na szaro
add, dodaj content, wyslij do service,
jezeli service zwroci OK, to wtedy zostaw i zapamietaj wiersz,
jezeli FALSE to usun wiersz, ale powiedz ze zly i pozwol edytowac 		


 -->
		<link rel='stylesheet' type='text/css' href='{{ MEDIA_URL }}css/main.css' />
		<script type="text/javascript" src="{% url django.views.i18n.javascript_catalog %}"></script>
		<script type="text/javascript" language="javascript" src="{{ MEDIA_URL }}js/jquery-1.6.2.js"></script>
		<script type="text/javascript" language="javascript" src="{{ MEDIA_URL }}js/main.js"></script>
		<script type="text/javascript" language="javascript" src="{{ MEDIA_URL }}js/media.js"></script>
		<script type="text/javascript" language="javascript">
		
			function test(){
				main_holder = $("#status-table");
				main_holder.empty();
				{% if object_list %}
					empty_rows_content_table(main_holder, "first_row");
						{% for object in object_list %}
							create_single_content_item(main_holder, "{{object.id}}", "f_name", "text", "{{object.path}}");
						{% endfor %}
					empty_rows_content_table(main_holder, "last_row");
				{% endif %}
				
			}
		
			$(document).ready(function(){
				test();
				status = get_server_status(false);
				if (status == true){
					$(".delete").removeAttr('disabled');
					$(".controls").removeAttr('disabled');
				}
				else {
					alert(status);
					$(".delete").attr('disabled', '');
					$(".controls").attr('disabled', '');
				}
			})
			
			function adding(){
				$.ajax({
					url: "addContent",
					type: "POST",
					data:{
						content: "/home/xps/Obrazy/toyota"
					},
					success: function(data) {
						alert(data.id);
					},
					error: function(x,y,z) {
						result = false;
					},
				});
			}
		</script>
	</head>
<!-- 	{% debug %} -->
	<body>
		<form>
			<table id="maintable" cellspacing="0">
				<tr id="maintablehead">
					<td id="header" colspan="2">
						<table id="htable" cellspacing="0">
							<tr>
								<td id="text">
									<div class="title">DLNA UPNP SERVER</div>
<!-- 									<div class="version">VERSION TO GET</div> -->
								</td>
								<td class="logo">
									<div><img src="{{ MEDIA_URL }}images/logo_big.png"></img></div>
								</td>
							</tr>
						</table>
						
					</td>
				</tr>
				<tr id="contentbody">
					<td id="menu">
						<h1>MENU</h1>
 						<script type="text/javascript">createmenu()</script>
					</td>
					<td id="content">
						<p>{% trans "Autorefreshing is enabled" %}</p>
						<p>{% trans "Refresh interval: 20 seconds" %}</p>
						<table id="media-table">
							<tr>
								<td id="service-td" colspan="2"><input type='button' class='controls' onclick='add_content_row()' value='{% trans "Add content row" %}' id='b_add' style='display:'></td>
							</tr>
						</table>
						<table id="status-table">
						</table>
					</td>
				</tr>
			</table>
		</form>
	</body>
</html>
