<html>
	<head>
		<title>SETTINGS</title>
		<style type="text/css">
			h1 {
				background: #C0C0C0;
				padding: 20px;
			}
			div.update {
				width: 90%;
				padding: 5px;
			}
			div.even {
				background: #ddd;
			}
			div.timestamp {
				float: left;
				font-weight: bold;
			}
			div.text {
				float: left;
				padding-left: 10px;
			}
			div.clear {
				clear: both;
				height: 1px;
			}
		</style>
		
		<link rel='stylesheet' type='text/css' href='{{ MEDIA_URL }}css/main.css' />
		<script type="text/javascript" language="javascript" src="{{ MEDIA_URL }}js/jquery-1.6.2.js"></script>
		<script type="text/javascript" language="javascript" src="{{ MEDIA_URL }}js/main.js"></script>
		<script type="text/javascript" language="javascript">
			function download_settings(){
				$.getJSON("settings", function(data){
					cycle_class = most_recent.hasClass('odd') ? "even" : "odd";
					id = parseInt(most_recent.attr('id'))
					if (isNaN(id)){
						id = 0
					}
					else {
						id += 1;
					}
					jQuery.each(data, function() {
								//alert(cycle_class);
								some_string = '<div id="'+id+'" class="update ' + cycle_class
									+ '"><div class="timestamp">'
									+ this.fields.timestamp
									+ '</div><div class="text">'
									+ this.fields.body + " " + id
									+ '</div><div class="clear"></div></div>';
								//alert(some_string);
								update_holder.prepend(some_string);
							cycle_class = (cycle_class == "odd")? "even" : "odd";
							});
				});
			}
			
			$(document).ready(function(){
				create_settings('{{name}}', '{{ip_address}}', '{{port}}', '{{do_mimetype_container}}', '{{transcoding}}')
			})
			
		</script>
	</head>
	<body>
		<form>
			<table id="maintable" cellspacing="0">
				<tr id="maintablehead">
					<td id="header" colspan="2">
						<table id="htable" cellspacing="0">
							<tr>
								<td id="text">
									<div class="title">DLNA UPNP SERVER</div>
									<div class="version">VERSION TO GET</div>
								</td>
								<td class="logo">
									<div><img src="{{ MEDIA_URL }}images/logo_big.png"></img></div>
								</td>
							</tr>
						</table>
						
					</td>
				</tr>
				<tr id="contentbody">
					<td id="menu">
						<h1>MENU</h1>
 						<script type="text/javascript">createmenu()</script>
					</td>
					<td id="content">
						<p>Autorefreshing is enabled</p>
						<div id="main-holder">
 							<table id="savecancel-table">
							</table>
 							<p>{{ created }}</p>
 							{% block results %}
		                        {% for el in fields %}
		                           <li>{{el.uuid}}</li>
		                           <p>test</p>
		                        {% endfor %}
		                	{% endblock %}    
 							<p>{{ results }}</p>
						</div>
					</td>
				</tr>
			</table>
		</form>
	</body>
</html>
