{% load i18n %}
{% get_language_info for LANGUAGE_CODE as lang %}
<html>
	<head>
		<title>{% trans "STATUS" %}</title>
		<style type="text/css">
			h1 {
				background: #C0C0C0;
				padding: 20px;
			}
			div.update {
				width: 100%;
			}
			div.even {
				background: #ddd;
			}
			div.timestamp {
				float: left;
				font-weight: bold;
			}
			div.text {
				float: left;
				padding-left: 10px;
			}
			div.clear {
				clear: both;
				height: 1px;
			}
		</style>
		
		<link rel='stylesheet' type='text/css' href='{{ MEDIA_URL }}css/main.css' />	
		<script type="text/javascript" src="{% url django.views.i18n.javascript_catalog %}"></script>
		<script type="text/javascript" language="javascript" src="{{ MEDIA_URL }}js/jquery-1.6.2.js"></script>
		<script type="text/javascript" language="javascript" src="{{ MEDIA_URL }}js/main.js"></script>
		<script type="text/javascript" language="javascript" src="{{ MEDIA_URL }}js/status.js"></script>
		<script type="text/javascript" language="javascript">
			$(document).ready(function(){
				get_all_status();
				getuuid()
				setInterval("get_all_status()", 20000);
			})
			alert(gettext('Help'));
			
			function test(){
				alert('aaa');
			}
		</script>
	</head>
	<body>
		<form>
			<table id="maintable" cellspacing="0">
				<tr id="maintablehead">
					<td id="header" colspan="2">
						<table id="htable" cellspacing="0">
							<tr>
								<td id="text">
									<div class="title">{% trans "DLNA UPNP SERVER" %}</div>
									<div class="version">VERSION TO GET</div>
								</td>
								<td class="logo">
									<div><img src="{{ MEDIA_URL }}images/logo_big.png"></img></div>
								</td>
							</tr>
						</table>
						
					</td>
				</tr>
				<tr id="contentbody">
					<td id="menu">
						<h1>MENU</h1>
 						<script type="text/javascript">createmenu()</script>
					</td>
					<td id="content">
						<p>{% trans "Autorefreshing is enabled" %}</p>
						<p>{% trans "Refresh interval: 20 seconds" %}</p>
						<table id="service-table">
							<tr>
								<td id="service-td"><input type='button' class='controls' onclick='server_start()' value='Start' id='b_connect' style='display:'></td>
								<td id="service-td"><input type='button' class='controls' onclick='stop_server()' value='Stop' id='b_connect' style='display:'></td>
							</tr>
							<tr>
								<td id="service-td"><input type='button' class='controls' onclick='restart_server()' value='Restart' id='b_connect' style='display:'></td>
								<td id="service-td"><input type='button' class='controls' onclick='reload_config()' value='{% trans "Reload configuration" %}' id='b_connect' style='display:'></td>
							</tr>
						</table>
						<table id="status-table">
							<tr id="header">
								<td colspan="2">{% trans "Server status" %}</td>
							</tr>
							<tr>
								<td>
									<div id="statusheader">{% trans "Managing service is:" %}</div>
								</td>
								<td>
									<div id="status"></div>
								</td>
							</tr>
							<tr>
								<td>
									<div id="status2header-td">{% trans "UPNP Service is:" %}</div>
								</td>
								<td>
									<div id="status2"></div>
								</td>
							</tr>
							<tr><td>&nbsp;</td></tr>
							<tr id="header">
								<td colspan="2">UUID:</td>
							</tr>
							<tr><td>&nbsp;</td></tr>
							<tr>
								<td id="uuidtd" colspan="2">
								</td>
							</tr>
							<tr><td>&nbsp;</td></tr>
							<tr id="header">
								<td colspan="2">{% trans "Shared media content:" %}</td>
							</tr>
							<tr><td>&nbsp;</td></tr>
							<tr>
								<td colspan="2">
									<div id="main-holder">
										{% if object_list %}
											<div id="update-holder">
												{% for object in object_list %}
												<div class="update {% cycle even, odd %}" id="{{ object.id }}">
													<div class="text">
														{{ object.path|linebreaksbr }}
													</div>
													<div class="clear"></div>
												</div>
												{% endfor %}
											</div>
										{% else %}
											<p>No updates</p>
										{% endif %}
										<br />
									</div>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</form>
Language code: {{ lang.code }}<br />
Name of language: {{ lang.name_local }}<br />
Name in English: {{ lang.name }}<br />
Bi-directional: {{ lang.bidi }}<br />


<form onsubmit="test()">
{% csrf_token %}
<input name="next" type="hidden" value="{{ redirect_to }}" />
<select name="language">
{% get_language_info_list for LANGUAGES as languages %}
{% for language in languages %}
<option value="{{ language.code }}">{{ language.name_local }} ({{ language.code }})</option>
{% endfor %}
</select>
<input type="submit" value="Go" />
</form>
	</body>
</html>
